/*
Colors used:
Primary Color (Black): #000;
Secondary Color (Black): #000;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000;
}


h1 {
  font-size: 2.75em;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  line-height: 1.0;
  text-align: center;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.0;
  margin: 0px;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

.white {
  color: #fff;
}

/* general image responsive sizing */
img {
  width: 95%;
}

/* Links */
a {
  text-decoration: none;
  color: #000;
}

header {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.90);
  text-align: center;
}

footer {
  width: 100%;
  background-color: #eeeeee;
  color: #000;
  text-align: center;
  padding: 10px 0;
}

/* custom logo sizing */
  .logo {
    padding-top: 20px;
    position: absolute;
    min-width: 150px;
    max-width: 280px;
    height: auto;
  }

nav {
  padding-top: 0px;
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

nav>ul>li>a {
  display: inline-block;
  padding: 0 15px;
  color: #000;
  text-decoration: none;
}

main {
  padding-top: 119px;
}

.navLinks {
  padding-right: 5px;
}

.navLinks:hover,
.navLinks:focus {
  color: #8b8b8b;
}

.navLinks:visited {
    text-decoration: underline;
}

.navLinks:active {
  /* selected link */
  color: #000;
  font-weight: 700;
}


#social ul {
  list-style-type: none;
  padding: 0;
  line-height: 0;
  margin: 18px 0;
}

#social li {
  display: inline-block;
}

#social a,
#social a:visited,
#social a:hover,
#social a:active,
#social a:focus {
  text-decoration: none;
  color: transparent;
  line-height: 0%;
}

#social img {
  height: 50px;
  width: auto;
  opacity: 0.8;
  padding: 12px;
  margin: 0 4px;
}


.button {
  display: inline-block;
  background-color: #000;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  transition: 0.4s opacity, 0.5s background-color, 0.4s font-size;
}
.coming_soon_button{
  display: inline-block;
  background-color: #000;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  pointer-events: none;
}
.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.vector-animation {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.imgWrapper {
  max-width: 390px;
  margin: auto;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

/* our hamburger menu */
.navtoggle li .icon {
  position: absolute;
  right: 0;
  padding-right: 0;
  top: 15px;
  font-size: 18px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.section {
  padding-bottom: 50px;
  display: inline-block;
  width: 100%;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 0px solid #4a4a4a;
  display: inline-block;
  width: 100%;
}

#work svg {
  width: 100%;
  height: auto;
}

#hero {  
  
background-image: url('https://github.com/michael727813/portfolio-website/blob/main/img/bg_image.jpeg?raw=true');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center;
  background-size: cover;
  background-color: #f2f2f2;
  padding: 50px 0;
  display: inline-block;
  width: 100%;
  text-align: center
}
#hero_sneaker {  
  background-image: url('https://github.com/michael727813/portfolio-website/blob/main/img/sneaker/hero_2000px.jpg?raw=true');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    background-color: #f2f2f2;
    padding: 175px 0;
    display: inline-block;
    width: 100%;
    text-align: center
  }

#hero h1 {
  text-align: center;
  /* Centers text */
  margin: 0;
}

#hero span {
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.col-sm-12 {
  width: 100%;
}

@keyframes color-change {
  from {fill: #F58220;}
  to {fill: #03577A;}
}
.dolphin {
animation-duration: 4s;
animation-name: color-change;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align:unset;
  }

  .logo {
    text-align: left;
    padding-top: 20px;
    min-width: 60px;
    max-width: 250px;
    height: auto;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
    position: relative;
  }

  main {
    padding-top: 98px;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  #about-page h3 {
    margin-top: 0;
  }

  #about-page h4 {
    margin-top: 200px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}



.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
