body {
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #4a4a4a;
  }
  .logo {
    max-width: 150px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    line-height: 2.5em;
    
  }
  
  nav {
    display: inline-block;
    width: 100%;
    color: #000000
  }
  
  nav > ul {
    list-style-type: none;
    padding: 0;
    color: #000000
  }
  
  nav > ul > li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    color: #000000
  }
  
  nav > ul > li > a {
    display: inline-block;
    padding: 0 15px;
    color: #000000;
    text-decoration: none;
  }
  
  .navtoggle li:not(:last-child) {
    display: none;
  }
  
  .navtoggle, .navtoggle.responsive {
    position: relative;
  }
  
  /* our hamburger menu */
  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
  }
  
  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }
  
  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(165, 165, 165, 0.5);
  }
  
  .navtoggle.responsive li:last-child {
    padding: 0 0 10px;
  }
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.15em;
    font-weight: 900;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }
  img {
    width: 100%;
  }
  a:hover,
  a:focus,
  a:active {
    color: #000;
    text-decoration: underline;
  }
  a:hover,
a:focus {
  color: #000000;
  text-decoration: underline;
}
.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #000000;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #000000; /* width of the border, type, color */
    transition-duration: 0.2s;
    transition-property: opacity;
  }
  .button:visited {
    color: #ffffff; /* needed to override the default link color */
    text-decoration: none;
  }
  .button:hover {
    opacity: 0.5; /* Reduces the opacity of the button to 80% */
    color: #ffffff; /* needed to override the default link color */
    text-decoration: none;
  }
  .button.contact {
    background-color: transparent;
    color: #000000;
    text-transform: uppercase;
    border: 2px solid #000000;
  }
  .button.contact:hover {
    background-color: #000000;
    color: #ffffff;
  }
  #social ul {
    list-style-type: none;
    padding: 0;
    font-size: 0em;
    line-height: 0;
    margin: 18px 0;
  }
  
  #social li {
    display: inline;
  }
  
  #social a,
  #social a:visited,
  #social a:hover,
  #social a:active,
  #social a:focus {
    text-decoration: none;
    color: transparent;
    line-height: 0%;
  }
  
  #social img {
    height: 48px;
    width: auto;
    opacity: 0.8;
    padding: 12px;
    margin: 0 4px;
  }
  
  /* Layout styling */
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
 
  .containernav {
    padding-left: 26px;
    padding-right: 22px;
    overflow: auto;
  }
  main {
    padding-top: 56px;
  }
  .row {
    margin: 24px 0;
    /* 24px top and bottom, 0 left and right */
  }
  
  #work .row {
    padding-bottom: 48px;
    border-bottom: 1px solid #efefef;
    padding-top: 28px;
  }
  
  #hero h1 {
    text-align: center;
    margin: 0;
    padding: 0.67rem 0;
  }
  
  #hero {
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #f2f2f2;
    margin-bottom: 16px;
  }
  
  #hero span {
    display: block;
  }
  
  #contact {
    padding-top: 16px;
    margin-top: 48px;
  }
  
  .center-align {
    text-align: center;
  }
  
  .about-h2 {
    text-align: left;
  }
  
  .work-top-row {
    margin-top: -24px;
  }
  
  .social-bottom {
    display: flex;
  }
  
.social-icon {
  width: 24px;
  height: 24px;
  display: block;
  margin: 14px 8px 12px 0;
  color: #3f3f3f;
  }

  @keyframes color-change {
    from {fill: #F58220;}
    to {fill: #03577A;}
  }
.dolphin {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes phin-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.phin-front {
  animation: 10s phin-move infinite alternate linear;
}
@keyframes phin-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.phin-back {
  animation: 14s phin-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul > li {
    display: inline-block;
    position: relative;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  body {
    font-size: 18px;
  }
  
  #hero span {
    display: block;
  }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  #about-page h3 { margin-top: 0;}
  .navtoggle li:not(:last-child) {
    display: none;
  }
  
  .navtoggle.responsive li {
    display: block;
    text-align: end;
  }
  
  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 16px;
    font-size: 20px;
    margin-bottom: 2px;
  }
  
  .navtoggle.responsive nav {
    padding: 45px 0 0;
    float: right;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  #hero span {
    display: block;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

}